[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "dsp"]
	path = dsp
	url = git@github.com:ShrapnelDSP/AbstractDSP.git
[submodule "gate"]
	path = gate
	url = git@github.com:ShrapnelDSP/NoiseGateComponent.git
