[submodule "firmware/components/esp-dsp"]
	path = thirdparty/esp-idf-components/esp-dsp
	url = https://github.com/ShrapnelDSP/esp-dsp.git
[submodule "plugins/JUCE"]
	path = thirdparty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "firmware/components/etl/etl"]
	path = thirdparty/esp-idf-components/etl/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "thirdparty/doxygen-awesome-css"]
	path = thirdparty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "test/support/freertos/FreeRTOS-Kernel"]
	path = test/support/freertos/FreeRTOS-Kernel
	url = https://github.com/Barabas5532/FreeRTOS-Kernel.git
[submodule "test/support/protobuf-c/protobuf-c"]
	path = test/support/protobuf-c/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "thirdparty/esp-idf-components/cppcodec"]
	path = thirdparty/esp-idf-components/cppcodec
	url = https://github.com/ShrapnelDSP/cppcodec.git
[submodule "thirdparty/esp-idf-components/nanopb"]
	path = thirdparty/esp-idf-components/nanopb/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "thirdparty/esp-idf-components/esp32-fft/esp32-fft"]
	path = thirdparty/esp-idf-components/esp32-fft/esp32-fft
	url = https://github.com/Barabas5532/esp32-fft.git
