# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

.idea
*.iml

# https://melos.invertase.dev/getting-started#configure-the-workspace
pubspec_overrides.yaml

coverage
